body {
  background: rgb(46, 63, 87);
  background: linear-gradient(90deg, rgb(63, 86, 119) 0%, rgba(33, 44, 61, 1) 42%, rgb(15, 21, 29) 100%);
  overflow-x: hidden;
  width: 100%;
}

/* SIDEBAR */
.navbar.fixed-left {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 14.375rem;
  /* 230px */
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  background-color: black;
  z-index: 1200;
}

.navbar.fixed-left .navbar-collapse .navbar-nav a {
  color: rgb(145, 145, 145);
  transition: 0.3s;
}

.navbar.fixed-left .navbar-collapse .navbar-nav a:hover {
  color: white;
}

.navbar.fixed-left .navbar-brand {
  padding-top: 1.25rem;
  /* 20px */
  padding-bottom: 1.875rem;
  /* 30px */
}

ul {
  list-style-type: none;
}

.nav-btn {
  margin-bottom: 1.25rem;
  /* 20px */
  text-align: center;
}

.nav-btn a {
  color: rgb(145, 145, 145);
  text-decoration: none;
}

.signup-btn {
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 1.25rem;
  /* 20px */
  width: 80%;
  margin-bottom: 1.25rem;
  /* 20px */
  padding: 0.3125rem;
  /* 5px */
}

.signup-btn:hover {
  color: white;
  background-color: rgb(60, 211, 60);
  border: 1px solid rgb(60, 211, 60);
}

.login-btn {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 1.25rem;
  /* 20px */
  width: 80%;
  margin-bottom: 1.25rem;
  /* 20px */
  padding: 0.3125rem;
  /* 5px */
}

.login-btn:hover {
  color: black;
  background-color: white;
}

@media screen and (max-width: 58.5rem) {

  /* 936px */
  #sidebar {
    display: none;
  }
}

/* BOTTOM PLAYER SECTION */
.bg-container {
  height: 5.5rem;
  background-color: #282828;
  margin-right: 1rem;
}

.playerControls div img,
.playerControls div .i {
  width: 1.4rem;
  margin-top: 1rem;
  filter: brightness(60%);
}

.playerControls div img:hover,
.playerControls div .i:hover {
  filter: brightness(100%);
}

.playerControls a:hover {
  filter: brightness(80%);
  color: #292929;
}

.progress {
  color: white;
  background-color: #414141;
  --bs-progress-height: 0.3rem !important;
  width: 90%;
}

.playBar p {
  margin-bottom: 1.5rem;
  color: white;
}

/* MAIN PAGE SECTION */
.mainPage h2 {
  text-decoration: none;
}

.mainLinks {
  margin-top: 1.5rem;
  justify-content: space-evenly;
}

.mainLinks a {
  color: white;
  font-weight: 700;
  font-size: 0.75rem;
  /* 12px */
  opacity: 0.3;
  text-decoration: none;
  margin: 2rem 0.5rem 0.5rem 0.5rem;
}

.mainLinks a:hover {
  text-decoration: none;
  opacity: 1;
  transition: 0.3s;
}

.imgLinks a p,
.mainPage p a {
  padding-top: 0.5rem;
  /* 8px */
  font-size: 0.75rem;
  /* 12px */
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.mainPage p a:hover {
  color: rgb(138, 138, 138);
}

.imgLinks a:hover {
  text-decoration: none;
}

.imgLinks a img:hover {
  filter: brightness(50%);
}

#rock,
#pop,
#hiphop,
#searchResults,
#artist-tracks {
  color: white;
  font-weight: 700;
  padding-top: 3.125rem;
  /* 50px */
}

.trackHover:hover {
  background-color: #3f516c;
  cursor: pointer;
}

.trackHover a {
  text-decoration: none;
}

#btnPlay {
  font-weight: 700;
  width: 9.375rem;
  /* 150px */
  height: 3.125rem;
  /* 50px */
  border-radius: 3.125rem;
  /* 50px */
}

.duration {
  float: right;
}

.mainButton {
  border: 1px solid #fff;
  border-radius: 1.25rem;
  /* 20px */
  height: 2.2em;
  width: 7em;
  text-align: center;
  padding: 0px 0.625rem;
  /* 10px */
}

.titleMain {
  color: white;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

#hipHopSection {
  margin-bottom: 7rem;
}

#followers {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.album-title {
  color: white;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 0;
}

.artist-name {
  color: white;
}

.mainPage img {
  width: 12.5rem;
  /* 200px */
}

.mainPage {
  padding-bottom: 5rem;
}

.myAppG {
  a {
    cursor: pointer;
  }
}

.songName,
.songArtist,
.songAlbum,
.songDuration {
  color: white;
  font-size: 1rem;
  margin: 0;
}

.songArtist {
  font-size: 0.8rem;
}

.songAlbum,
.songDuration,
.songArtist {
  color: rgb(160, 160, 160);
}

.headerPL {
  border-bottom: 1px solid grey;
  padding-bottom: 0.5rem;
}